WinControls/obj/
DatabaseStudio/obj/
Common/obj/
DatabaseStudio/bin/
WinControls/Explorer Tree/obj/
*.suo
*.user
*.vsp
*.psess
WinControls/bin/
Common/bin/
WinControls/Explorer Tree/bin/
*.eof
WinControls/Properties/licenses.licx
/bin
/obj
/.vs
