<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PaJaMa.DatabaseStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DatabaseStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PaJaMa.DatabaseStudio.Properties.Settings>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConnectionStrings" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCompareSourceConnString" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCompareTargetConnString" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDataGenerateConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="LastQueryConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="LastQueryServerType" serializeAs="String">
                <value />
            </setting>
            <setting name="DataDetailsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataDetailsLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataDetailsTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataDetailsWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataDetailsHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SearchConnectionStrings" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSearchConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="LastQueryUseDummyDA" serializeAs="String">
                <value>False</value>
            </setting>
        </PaJaMa.DatabaseStudio.Properties.Settings>
        <DatabaseStudio.Properties.Settings>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
        </DatabaseStudio.Properties.Settings>
    </userSettings>
</configuration>